@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 100, 46%, 95%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 90, 1%, 28%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 101, 27%, 74%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 160, 28%, 41%;
    --primary-foreground: 210 40% 98%;

    --secondary: 102, 57%, 91%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0, 92%, 65%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 100, 9%, 16%;
    --foreground: 213 31% 91%;

    /* 126°, 8%, 24% */

    --muted: 160°, 28%, 41%;
    --muted-foreground: 120, 0%, 89%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 126, 8%, 24%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 101, 16%, 69%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 102, 9%, 28%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0, 92%, 65%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Poppins", sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
